.options-popup-wraper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2823529412);
    left: 0;
    top: 0;
}
.options-popup-wraper .options-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f9fc;
    width: 95%;
    max-width: 1200px;
    max-height: 95%;
    height: 740px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #b7b4ae;
    display: grid;
    grid-template-columns: 350px auto;
    box-shadow: rgba(0, 18, 46, 0.1607843137) 0px 8px 36px 0px;
}
.options-popup-wraper .options-popup .left-side {
    background-color: #eff4f9;
    border-right: 1px solid #e1e6ea;
    padding: 5px;
}
.options-popup-wraper .options-popup .left-side .popup-options .single-option {
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
}
.options-popup-wraper .options-popup .left-side .popup-options .single-option svg {
    margin-right: 10px;
}
.options-popup-wraper .options-popup .left-side .popup-options .single-option p {
    margin: 0;
}
.options-popup-wraper .options-popup .left-side .popup-options .single-option:hover {
    background-color: #e6ebf0;
}
.options-popup-wraper .options-popup .left-side .popup-options .active {
    background-color: #e6ebf0;
    position: relative;
}
.options-popup-wraper .options-popup .left-side .popup-options .active::before {
    content: "";
    height: 50%;
    width: 3px;
    background-color: #773dff;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
}
.options-popup-wraper .options-popup .right-side {
    position: relative;
    overflow: auto;
}
.options-popup-wraper .options-popup .right-side .popup-close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 999;
}
.options-popup-wraper .options-popup .right-side .right-side-body {
    padding: 20px;
    padding-top: 50px;
    position: relative;
    height: 100%;
    overflow: auto;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    overflow: auto;
    height: 100%;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .plus-writing {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    box-shadow: rgba(0, 18, 46, 0.1607843137) 0px 8px 36px 0px;
    background-color: #773dff;
    cursor: pointer;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .single-sceduled-box {
    background-color: #fdfefe;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    height: -moz-fit-content;
    height: fit-content;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .single-sceduled-box .time-box {
    display: flex;
    justify-content: space-between;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .single-sceduled-box .time-box .time {
    font-size: 60px;
    font-weight: 600;
    color: #a2a2a2;
    display: flex;
    align-items: baseline;
    line-height: 1;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .single-sceduled-box .time-box .time .ampm {
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 600;
    color: #a2a2a2;
    font-size: 30px;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .single-sceduled-box .name {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
    color: #a2a2a2;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .single-sceduled-box .show-weeks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .single-sceduled-box .show-weeks p {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #c6c7c7;
    color: #fff;
    border: 2px solid #c6c7c7;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    margin: 0;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .single-sceduled-box .show-weeks .active {
    background: #c6c7c7;
    color: #fff;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .active .time-box .time {
    color: #000;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .active .time-box .time .ampm {
    color: #000;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .active .name {
    color: #000;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .active .show-weeks p {
    background: #773dff;
    color: #fff;
    border: 2px solid #773dff;
}
.options-popup-wraper .options-popup .right-side .right-side-body .scedule-writing-body .active .show-weeks .active {
    background: #fff;
    color: #773dff;
}
.options-popup-wraper .options-popup .pop-header {
    padding: 10px 20px;
    font-size: 18px;
}
.options-popup-wraper .add-new-scedule-pop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #F1F2F3;
    width: 450px;
    max-width: 95%;
    max-height: 98%;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    padding: 20px;
}
.options-popup-wraper .add-new-scedule-pop .single-option {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.options-popup-wraper .add-new-scedule-pop .single-option svg {
    margin-right: 5px;
}
.options-popup-wraper .add-new-scedule-pop .single-option input[type="text"],
.options-popup-wraper .add-new-scedule-pop .single-option input[type="time"] {
    padding: 5px 10px;
    border: 1px solid #d3d3d3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.708);
    outline: none;
    width: 100%;
    transition: 0.3s;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
}
.options-popup-wraper .add-new-scedule-pop .single-option input[type="text"]:hover,
.options-popup-wraper .add-new-scedule-pop .single-option input[type="time"]:hover {
    background-color: #f4f5f6;
}
.options-popup-wraper .add-new-scedule-pop .notificatio-select label {
    display: block;
    font-weight: 600;
    cursor: pointer;
    display: grid;
    grid-template-columns: 17px auto;
    font-size: 18px;
    gap: 10px;
}
.options-popup-wraper .add-new-scedule-pop .notificatio-select label input {
    zoom: 1.6;
    margin-right: 5px;
}
.options-popup-wraper .add-new-scedule-pop .save-btns {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.options-popup-wraper .add-new-scedule-pop .save-btns button {
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    min-width: 150px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options-popup-wraper .add-new-scedule-pop .save-btns .save {
    background-color: #773dff;
    color: #fff;
}
.options-popup-wraper .add-new-scedule-pop .weekday-select {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.options-popup-wraper .add-new-scedule-pop .weekday-select p {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #fff;
    color: #773dff;
    border: 2px solid #773dff;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    transition: 0.1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.options-popup-wraper .add-new-scedule-pop .weekday-select p:hover {
    background-color: #773dff;
    color: #fff;
}
.options-popup-wraper .add-new-scedule-pop .weekday-select .active {
    background-color: #773dff;
    border: 2px solid #773dff;
    color: #fff;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.toggle-switch input[type="checkbox"] {
    display: none;
}

.toggle-switch-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dddddd82;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #b2b2b294;
    transition: background-color 0.3s ease-in-out;
}

.toggle-switch-handle {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.toggle-switch::before {
    content: "";
    position: absolute;
    top: -25px;
    right: -35px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
    text-shadow: 1px 1px #fff;
    transition: color 0.3s ease-in-out;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
    transform: translateX(25px);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #773dff;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
    background-color: #773dff;
    box-shadow: inset 0 0 0 1px rgba(119, 61, 255, 0.4431372549);
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
    content: "On";
    color: #773dff;
    right: -15px;
}

.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
    transform: translateX(25px);
}

*::-webkit-scrollbar {
    width: 20px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #794eda;
}
.add-new-scedule-pop-wraper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffc5;
    display: none;
}
.how-to-write-body,.what-to-write{
    display: none;
}
.options-popup-wraper .add-new-scedule-pop .weekday-select .active:hover{
    color: #773dff;
    border-color: #773dff;
    background-color: #fff;
}

















.what-write-select-boxs{
    display: flex;
    justify-content: space-between;
}
.what-write-select-boxs .single-box-select{
    flex-basis: 30%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: rgba(0, 18, 46, 0.066) 0px 8px 36px 0px;
    border: 3px solid #4c4c4c5e;
    cursor: pointer;
    transition: .3s;
}
.what-write-select-boxs .active{
    background: #fff;
    border: 3px solid #773dffc2;
}
.what-write-select-boxs .single-box-select .names{
    font-weight: 600;
    font-size: 20px;
    color: #4c4c4c;
}
.what-write-select-boxs .single-box-select:hover>.names{
    color: #773dff;
}
.what-write-select-boxs .single-box-select:hover>.dess{
    color: #000;
}
.what-write-select-boxs .single-box-select:hover{
    border: 3px solid #773dffc2;
}
.what-write-select-boxs .active .names{
    color: #773dff;
}
.what-write-select-boxs .active .dess{
    color: #000;
}
.what-write-select-boxs .single-box-select .dess{
    font-size: 15px;
    margin-bottom: 0;
    color: #4c4c4c;
}

.video-cont{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100% !important;
    height: auto;
}
.video-cont iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


.skltbs-mode-tabs.use-fade .skltbs-panel{
    border-color: #e1e6ea;
    background: #fff;
    height: 100%;

}
.skltbs-theme-light .skltbs-tab {
    background: rgb(239 244 249) !important;
}
.skltbs-theme-light .skltbs-tab.skltbs-active{
    background: linear-gradient(to right, #773dff, #007bff) !important;
}
.skltbs-theme-light .skltbs-panel, .skltbs-theme-dark .skltbs-panel{
    padding: 15px !important;
}
.skltbs-theme-light .skltbs-tab:focus{
    box-shadow: none !important;
}
.skltbs-theme-light .skltbs-tab:hover{
    background: linear-gradient(to right, #773dff, #007bff) !important;
    color: #fff;
}
.skltbs-theme-light .skltbs-tab{
    color: #000;
}
.skltbs-theme-light .skltbs-tab-group, .skltbs-theme-dark .skltbs-tab-group{
    display: flex;
    justify-content: space-between;
    
}
.skltbs-theme-light .skltbs-tab-item, .skltbs-theme-dark .skltbs-tab-item{
    width: 32%;
    margin-bottom: 15px !important;
}
.skltbs-theme-light .skltbs-tab{
    width: 100%;
    min-height: 50px;
}





/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #007bff 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}



/* CSS */
.button-8 {
  touch-action: manipulation;
  appearance: button;
  background-color: transparent;
  border-style: initial;
  border-width: 0;
  cursor: pointer;
  margin: 0;
  text-transform: none;
  vertical-align: baseline;
}

.button-8:focus {
  outline: 0;
}

.button-8 {
  touch-action: manipulation;
  background-image: linear-gradient(135deg, color(display-p3 .572549 .415686 1) 0%, color(display-p3 1 .466667 .690196) 50%, color(display-p3 1 .701961 .403922) 100%);
  border-radius: 8px;
  color: #fff;
  font-feature-settings: "ss01", "cv10", "calt"0, "liga"0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  position: relative;
  transition: transform .2s cubic-bezier(.6, .6, 0, 1), margin-top .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
}

.button-8::before {
  -webkit-mask-clip: content-box, initial;
  -webkit-mask-composite: xor;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-origin: content-box, initial;
  -webkit-mask-position-x: initial, initial;
  -webkit-mask-position-y: initial, initial;
  -webkit-mask-repeat-x: initial, initial;
  -webkit-mask-repeat-y: initial, initial;
  -webkit-mask-size: initial, initial;
  padding: 1px;
}

.button-8::before {
  background-color: initial;
  background-image: linear-gradient(rgba(255, 255, 255, .32), transparent);
  bottom: 0;
  pointer-events: none;
  right: 0;
}

.button-8::after,
.button-8::before {
  border-radius: inherit;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}

.button-8::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .3) 0 9px 21px, rgba(73, 2, 57, .2) 0 -3px inset;
  height: 100%;
  transition: box-shadow .2s cubic-bezier(.6, .6, 0, 1), background-color .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
  width: 100%;
  z-index: 1;
}

.button-8:active {
  transform: translateY(1.5px);
}

.button-8:hover::after {
  background-color: rgba(255, 255, 255, .1);
}

.button-8:active::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .2) 0 9px 21px, rgba(73, 2, 57, .2) 0 0 inset;
}
